body
{
    font-family: Verdana;
    font-size: small;
    color: #000033;
    background-color: #568203;
    margin: 0px;
    text-align: center;
}
#Naglowek
{
    text-align: right;
    background-color: #f19cbb;
}
#PierwszyObszarBoczny
{
    float: left;
    width: 200px;
    height: 800px;
    background-color: #fabeb1;
}
#ObszarRoboczy
{
    padding: 50px 20px 50px 20px;
    margin: 0px 100px 0px 200px;
    background-color: #cd9575;
}
#DrugiObszarBoczny
{
    float: right;
    width: 200px;
    height: 300px;
    background-color: #1266cc;
    }
#Menu
{
    background-color: #55BBFF;
    font-size: x-small;
    text-align: left;
}
#ObszarLogowania
{
    text-align: right;
    background-color: #C3DBEA;
    padding: 5px 10px 5px 10px;
}
#ElementMenuNadrzednego
{
    color: #000033;
    font-weight: bold;
    font-size: x-large;
    padding: 3px 10px;
    background-color: #356210;
    }
#ElementMenuRozwijanego
{
    background: #F5F5F5;
    color: #000033;
    padding: 3px 10px;
    background-color: #11fe00;
    }
#ZaznaczonyElementMenu
{
    background: #000033;
    color: White;
    background-color: #af61cc;
    }