body {
    background-color: #ffffff;
    margin: 0px;
    text-align: center;    
}

#Logo {
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;    
}

#ObszarFormularza{
    width: 860px;
    text-align:left;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    color: #404040;
}

#PodobszarLewy1{
    float: left;
    width: 170px;
    /*height: 300px;*/
    /*background-color: #f1d953;*/
    background-color: #ffffff;
    text-align: right;
    padding-right: 5px;
    text-orientation:inherit;
}

#PodobszarLewy2{
    float: left;
    width: 200px;
    /*height: 300px;*/
    /*background-color: #9966cc;*/
    background-color: #ffffff;
    text-align: right;    
}

#PodobszarPrawy1{
    float: right;
    width: 680px;
    /*height: 300px;*/
    /*background-color: #00ff90;*/
    background-color: #ffffff;
    padding-left: 5px;
}

#PodobszarPrawy2{
    float: right;
    width: 200px;
    /*height: 300px;*/
    background-color: #9966cc;
}

#Linia_glowna {
  border:none;
  border-top:1px double #808080;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

#Linia_separujaca {
  border-top:1px double #808080;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
  margin-top: 1px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-bottom-style: none;
    border-bottom-color: inherit;
    border-bottom-width: medium;
    margin-bottom: 1px;
}

#Tekst_separujacy {
  padding: 20px 1px 1px 1px;
}