body {
    background-color: #ffffff;
    margin: 0px;
    text-align: center;    
}

#Logo {
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;    
}

#ObszarFormularza{
    width: 860px;
    text-align:left;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    color: #404040;
}

#PodobszarLewy1{
    float: left;
    width: 180px;
    /*height: 300px;*/
    background-color: #9966cc;
    text-align: right;
}

#PodobszarLewy2{
    float: left;
    width: 200px;
    /*height: 300px;*/
    background-color: #9966cc;
    text-align: right;
}

#PodobszarPrawy1{
    float: right;
    width: 680px;
    /*height: 300px;*/
    background-color: #ffd800;
}

#PodobszarPrawy2{
    float: right;
    width: 200px;
    /*height: 300px;*/
    background-color: #9966cc;
}

#Linia_glowna {
  border:none;
  border-top:1px double #808080;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

#Linia_separujaca {
  border:none;
  border-top:1px double #808080;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
  margin-top: 1px;
}

#Tekst_separujacy {
  padding: 20px 1px 1px 1px;
}