body {
    /*font-family: Verdana;*/
    /*font-size: small;*/
    /*color: #000033;*/
    background-color: #ffffff;
    margin: 0px;
    text-align: center;    
}
/*#LogoOld
{
    padding: 0px 100px 0px 20px
}*/
/*#PierwszyObszarBoczny
{
    float: left;
    width: 200px;
    height: 800px;
    background-color: #fbceb1;
}*/
#Logo {
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*background-color: #ffffff;*/
    background-color: #55BBFF;
}

#ObszarFormularza
{
    width: 860px;
    text-align:left;
    /*padding: 50px 20px 0px 0px;*/
    /*margin: 0px 0px 0px 0px;*/
    background-color: #cd9575;
    /*background-color: #ffffff;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
/*#DrugiObszarBoczny
{
    float: right;
    width: 200px;
    height: 300px;
    background-color: #9966cc;
}*/
/*#Menu
{
    background-color: #55BBFF;
    font-size: x-small;
    text-align: left;
}*/
/*#ObszarLogowania
{
    text-align: right;
    background-color: #C3DBEA;
    padding: 5px 10px 5px 10px;
}*/
/*#Naglowek
{
    text-align: right;
    background-color: #f19cbb;
}*/
/*.ElementMenuNadrzednego
{
    color: #000033;
    font-weight: bold;
    font-size: x-large;
    padding: 3px 10px;
    background-color: #c46210;
}*/
/*.ElementMenuRozwijanego
{
    background: #F5F5F5;
    color: #000033;
    padding: 3px 10px;
    background-color: #ff7e00;
}*/
/*.ZaznaczonyElementMenu
{
    background: #000033;
    color: White;
    background-color: #9966cc;
}*/
